<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fanxin.huangfangyi"
    android:versionCode="36"
    android:versionName="3.1">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22"
        tools:overrideLibrary="com.easemob.redpacketui" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- GCM required, remember replace "com.fanxin.app" to your own package-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.fanxin.huangfangyi.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.fanxin.app.permission.C2D_MESSAGE" />

    <permission
        android:name="com.fanxin.huangfangyi.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.fanxin.app.permission.MIPUSH_RECEIVE" />

    <application
        android:name="com.fanxin.huangfangyi.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name">
        <activity
            android:name="com.fanxin.huangfangyi.main.fragment.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>

        <!-- 开屏页 -->
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登陆 -->
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name="com.fanxin.huangfangyi.main.activity.PasswordResetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name="com.fanxin.huangfangyi.main.activity.RegionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>

        <!-- 注册 -->
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <!-- 聊天页面 -->
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>

        <!-- 添加好友 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.AddContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible"></activity>
        <!-- 群组详情 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.GroupDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 群组列表 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.GroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>

        <!-- 聊天室详情 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.ChatRoomDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>

        <!-- 新建群组 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.NewGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 退出群组提示框 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.ExitGroupDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"></activity>
        <!-- 群组选人 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.GroupPickContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name="com.fanxin.huangfangyi.ui.PickAtUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 地图 -->
        <activity
            android:name="com.fanxin.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>

        <!-- 新的朋友邀请消息页面 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.NewFriendsMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 转发消息用户列表页面 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.ForwardMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 自定义的contextmenu -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.ContextMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.fanxin.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 下载文件 -->
        <activity
            android:name="com.fanxin.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 黑名单 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.BlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>

        <!-- 公开的群聊列表 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.PublicGroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name="com.fanxin.huangfangyi.ui.PublicChatRoomsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>

        <!-- 语音通话 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.VoiceCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/nornal_style"></activity>
        <!-- 视频通话 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.VideoCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 群聊简单信息 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.GroupSimpleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!-- 群组黑名单用户列表 -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.GroupBlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.ui.GroupSearchMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible"></activity>

        <activity
            android:name="com.fanxin.huangfangyi.ui.PublicGroupsSeachActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.ui.EditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible"></activity>
        <activity
            android:name="com.fanxin.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- choose video -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.ui.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- upload error log -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.DiagnoseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!-- iOS offline push nick -->
        <!-- robots list -->
        <activity
            android:name="com.fanxin.huangfangyi.ui.RobotsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- user profile -->

        <!--红包相关Activity start-->
        <!--发红包-->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPRedPacketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan|stateVisible"
            />
        <!--红包详情-->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"
            />
        <!--红包记录-->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"
            />
        <!--WebView相关-->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />
        <!--零钱-->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />
        <!--绑定银行卡-->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPBankCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <!--群成员列表页-->
        <activity
            android:name="com.easemob.redpacketui.ui.activity.RPGroupMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <!--支付宝h5支付页面-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />
        <!--红包相关Activity end-->
        <!-- 用户信息页面 -->
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>

        <!-- 用户信息更新页面 -->
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.ProfileUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.AddFriendsPreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.AddFriendsNextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.AddFriendsFinalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name="com.fanxin.huangfangyi.main.activity.UserDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.NewFriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.GroupListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.GroupAddMembersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.ChatSettingGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.ChatSettingSingleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.ScanCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.MyQrActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.moments.MomentsPublishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.moments.BigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.moments.SocialFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.moments.SocialDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.moments.MyWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.moments.SocialMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>

        <!--  UCLOUD-->
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.LivesActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/PlayAppTheme"
            android:screenOrientation="portrait" >

        </activity>

        <activity
            android:name="com.fanxin.huangfangyi.main.activity.LiveWatchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" >

            <intent-filter>
                <action android:name="ucloud.intent.action.uvod.fanxin.demo2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.fanxin.huangfangyi.main.uvod.preference.SettingsActivity"
            android:theme="@style/PlayAppTheme"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>


        <activity
            android:name="com.fanxin.huangfangyi.main.ulive.preference.SettingsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/SettingTheme"></activity>

        <activity
            android:name="com.fanxin.huangfangyi.main.activity.LiveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:theme="@style/SettingTheme">
        </activity>
        <!--摇一摇-->
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.ShakeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--反馈界面-->
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.FeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--雷达扫描界面-->
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.RadarActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:theme="@style/horizontal_slide">
        </activity>
        <!--附近的界面-->
        <activity
            android:name="com.fanxin.huangfangyi.main.activity.NearPeopleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask"
            android:theme="@style/horizontal_slide">
        </activity>

        <activity
            android:name="com.fanxin.huangfangyi.main.ulive.upload.PublishDemo4MediaCodec"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <activity
            android:name="com.fanxin.huangfangyi.main.ulive.upload.PublishDemo4X264"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <activity
            android:name="com.fanxin.huangfangyi.main.ulive.play.VideoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />




        <!-- 开机自启动服务 -->
        <receiver android:name="com.fanxin.huangfangyi.receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- gcm start -->
        <receiver
            android:name="com.hyphenate.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.fanxin.app" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.hyphenate.chat.EMGCMListenerService"
            android:exported="false"></service>
        <service
            android:name="com.fanxin.huangfangyi.main.service.ContactsService"
            android:exported="false"></service>
        <service
            android:name="com.fanxin.huangfangyi.main.service.GroupService"
            android:exported="false"></service>


        <receiver
            android:name="com.fanxin.huangfangyi.receiver.GCMPushBroadCast"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hyphenate.sdk.push" />
                <category android:name="com.fanxin.app" />
            </intent-filter>
        </receiver>
        <!-- gcm end -->

        <!-- mi push -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.hyphenate.chat.EMMipushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- mi push end -->

        <!-- huawei push -->
        <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态、标签，LBS上报结果）广播 -->
        <!-- <receiver android:name="com.hyphenate.chat.EMHuaweiPushReceiver" >
            <intent-filter>
                必须,用于接收token
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                必须，用于接收消息
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
            </intent-filter>
            />
            <meta-data android:name="CS_cloud_ablitity" android:value="successRateAnalytics"/>
        </receiver>

        PushSDK:PushSDK接收外部请求事件入口
        <receiver
            android:name="com.huawei.android.pushagent.PushEventReceiver"
            android:process=":pushservice" >
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REFRESH_PUSH_CHANNEL" />
                <action android:name="com.huawei.intent.action.PUSH" />
                <action android:name="com.huawei.intent.action.PUSH_ON" />
                <action android:name="com.huawei.android.push.PLUGIN" />
            </intent-filter>
        </receiver>

        PushSDK:Push服务
        <service
            android:name="com.huawei.android.pushagent.PushService"
            android:process=":pushservice" >
        </service> -->

        <!-- huawei push end -->

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"></service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="tingyi123#fanxin" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- umeng appkey，可忽略 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56aefe07e0f55a250d001a7c"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="hyphenate" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

    </application>

</manifest>
