<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.htmessage.yichat">

    <uses-sdk tools:overrideLibrary="com.htmessage.sdk" />


    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
     <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
          android:maxSdkVersion="21"
         />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <!--AnyRTC相关-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- SDK2.1新增获取用户位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.htmessage.yichat.HTApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true">

        <!--主页-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />

        <!-- 开屏页 -->
        <activity
            android:name="com.htmessage.yichat.acitivity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登陆 -->
        <activity
            android:name="com.htmessage.update.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="test"
                    android:scheme="123412app.com" />
            </intent-filter>
        </activity>

        <!-- 注册 -->

        <activity
            android:name="com.htmessage.update.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.update.register.PreRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name="com.htmessage.yichat.acitivity.main.wallet.PrePayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />


        <!-- 聊天室详情 -->
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.group.ChatSettingGroupActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.htmessage.yichat.acitivity.main.wallet.BankCardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.yichat.acitivity.main.wallet.AddBankCardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.yichat.acitivity.main.wallet.WithDrawActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.htmessage.yichat.acitivity.chat.ChatSettingSingleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.group.UpdateGroupImgUrlActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <!-- choose video -->
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.voice.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.video.CaptureVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- upload error log -->
        <!-- 用户信息页面 -->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.profile.info.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />

        <!-- 用户信息更新页面 -->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.profile.info.update.ProfileUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <!-- 群信息更新页面 -->
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.group.UpdateGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.htmessage.yichat.acitivity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name="com.htmessage.yichat.acitivity.friends.addfriend.AddFriendsPreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.yichat.acitivity.friends.addfriend.AddFriendsNextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.yichat.acitivity.friends.addfriend.AddFriendsFinalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.htmessage.yichat.acitivity.details.UserDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.yichat.acitivity.friends.newfriend.NewFriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.group.GroupListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.group.GroupAddMembersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name="com.htmessage.yichat.acitivity.main.qrcode.MyQrActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <!--android:hardwareAccelerated="true"
        这个配置非常重要,不配置会导致饺子播放器无法播放
        -->
        <activity
            android:name="com.htmessage.yichat.acitivity.showbigimage.ShowBigImageActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.video.VideoPlayActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <!--剪切图片的页面-->
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--密码修改-->
        <activity
            android:name="com.htmessage.yichat.acitivity.password.PasswordResetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name="com.htmessage.yichat.acitivity.chat.file.browser.FileBrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--转发个人-->
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.forward.ForwardSingleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--转发群组-->
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.forward.ForwardGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--红包设置页-->
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.group.RedSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--红包设置页-->
        <activity
            android:name=".acitivity.chat.card.CheckCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--视频录制界面-->
        <activity android:name="mabeijianxi.camera.MediaRecorderActivity" />
        <!--图片选择-->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!--图片预览-->


        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!--腾讯授权回调-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1107515407" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!--关于微信登录反馈-->
        <activity
            android:name="com.htmessage.wetalk.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Mike">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--关于微信登录反馈-->
        <activity
            android:name="com.htmessage.wetalk.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Mike">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--高德地图-->
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.location.GdMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <!--艾特界面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.pick.PickAtUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />


        <!--查询群聊天信息-->
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.search.SearchChatHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--通用webview-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--新消息提醒设置界面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.profile.NewMsgNoticeSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--导航页面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.location.GdMapNavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.htmessage.yichat.acitivity.chat.group.allmember.AllGroupMembersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--移除群成员-->
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.group.deletemember.DeleteGroupMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--左右侧滑翻看聊天页面的视频或者图片-->
        <!--群组二维码-->
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.group.qrcode.GroupQrCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--搜索用户界面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.contacts.SearchContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--管理员列表-->
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.group.managerlist.ManagerListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--管理员列表-->


        <!--红包相关页面开始-->
        <!--发红红包-->
        <activity
            android:name="com.htmessage.yichat.acitivity.red.send.RedSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--红包详情-->
        <activity
            android:name="com.htmessage.yichat.acitivity.red.history.RpHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 红包支付方式界面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.red.pay.RedPayWaysActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"
            android:windowSoftInputMode="adjustPan" />
        <!--红包支付页面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.red.pay.RpPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"
            android:windowSoftInputMode="adjustPan" />
        <!--红包详情-->
        <activity
            android:name="com.htmessage.yichat.acitivity.red.RedDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--打开红包页面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.red.dialog.DialogOpenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--钱包界面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.wallet.WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--转账设置金额页面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.pay.activity.PayMentMoneySetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--转账界面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.red.send.TransferSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />


        <!--扫码转账页面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.pay.activity.PayMentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.htmessage.yichat.acitivity.main.pay.activity.QrCodePayMentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--二维码支付付款页面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.pay.activity.PayMentPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"
            android:windowSoftInputMode="adjustPan" />
        <!--二维码支付付款方式页面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.pay.activity.PayMentPayWaysActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"
            android:windowSoftInputMode="adjustPan" />
        <!--交易记录-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.pay.paymentdetails.PayMentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--提现页面-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.wallet.WalletWithDrawActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--绑定手机号-->
        <!--交易记录查询-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.wallet.TradeRecordsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--打开转账信息-->
        <activity
            android:name="com.htmessage.yichat.acitivity.red.TransferDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--支付密码入口页-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.wallet.PayPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--支付密码入口页-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.wallet.PreAddBandCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--支付密码入口页-->
        <activity
            android:name="com.htmessage.yichat.acitivity.main.wallet.NextAddBandCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.htmessage.yichat.acitivity.main.wallet.WithDrawListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.htmessage.yichat.acitivity.chat.video.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.htmessage.yichat.acitivity.SearchAllHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.htmessage.yichat.acitivity.HistoryDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".acitivity.redpacket.SendSingleRPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.htmessage.yichat.acitivity.moments.publish.MomentsPublishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.yichat.acitivity.moments.BigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.yichat.acitivity.moments.MomentsFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.yichat.acitivity.moments.details.MomentsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.yichat.acitivity.moments.MomentsWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name="com.htmessage.yichat.acitivity.moments.MomentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".acitivity.main.wallet.SignActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name="com.htmessage.yichat.acitivity.chat.group.GroupNoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.htmessage.yichat.acitivity.chat.group.GroupNoticePublishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".acitivity.chat.VideoIncomingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".acitivity.friends.invitefriend.ContactsInviteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".acitivity.chat.group.BlackListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name="com.htmessage.sdk.service.AwakeService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":push">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name="com.htmessage.sdk.service.KeepAliveService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":push">

        </service>
        <service
            android:name="com.htmessage.sdk.service.MessageService"
            android:exported="true" />
        <service
            android:name="com.htmessage.sdk.service.RemoteService"
            android:exported="true"
            android:process=":push" />

        <receiver android:name="com.htmessage.sdk.receiver.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.htmessage.sdk.receiver.SystemReceiver"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!--高德的SDK-->
        <!--KTZ-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9ab76c9a12816cf9266d73006f491aa5" />

        <!--高德所用的定位service-->
        <service android:name="com.amap.api.location.APSService"></service>

        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":pushcore"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <service android:name=".jiguangpush.MyJGService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!--金融魔方配置-->
        <meta-data
            android:name="JRMF_PARTNER_ID"
            android:value="zhangfeng20171017" />
        <meta-data
            android:name="JRMF_PARTNER_NAME"
            android:value="@string/app_red_message" />
        <receiver
            android:name=".jiguangpush.MyJGReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.htmessage.yichat" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
