<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.htmessage.fanxinht">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25"
        tools:overrideLibrary="com.htmessage.sdk" />

    <!--AnyRTC相关-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- SDK2.1新增获取用户位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.htmessage.fanxinht.HTApp"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:persistent="true">

        <!--主页-->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 授权页 -->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.auth.AuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mike">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="value" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 开屏页 -->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- 登陆 -->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="123412app.com" android:host="test"
                    />
            </intent-filter>

        </activity >

        <!-- 注册 -->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <!-- 注册 -->
        <!-- 邀请手机通讯录好友 -->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.addfriends.invitefriend.ContactsInviteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />

        <!-- 聊天室详情 -->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.group.ChatSettingGroupActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.ChatSettingSingleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.group.UpdateGroupImgUrlActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <!--发起语音通话-->

        <!-- 新建群组 -->
        <!-- 退出群组提示框 -->
        <!-- 群组选人 -->

        <!-- 地图 -->

        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.location.BaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />


        <!-- choose video -->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.voice.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.video.CaptureVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <!-- upload error log -->


        <!-- 用户信息页面 -->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.main.profile.info.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />

        <!-- 用户信息更新页面 -->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.main.profile.info.update.ProfileUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <!-- 群信息更新页面 -->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.group.UpdateGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.htmessage.fanxinht.acitivity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.keeplive.KeepAliveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name="com.htmessage.fanxinht.acitivity.addfriends.add.pre.AddFriendsPreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.addfriends.add.next.AddFriendsNextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.addfriends.add.end.AddFriendsFinalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.htmessage.fanxinht.acitivity.main.details.UserDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.addfriends.newfriend.NewFriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.group.GroupListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.group.GroupAddMembersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.htmessage.fanxinht.widget.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.main.qrcode.MyQrActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.moments.publish.MomentsPublishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.moments.BigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.moments.MomentsFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.moments.details.MomentsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.moments.MomentsWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.moments.MomentsNoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <activity
            android:name="com.htmessage.fanxinht.acitivity.moments.MomentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.showbigimage.ShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.video.VideoPlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <!--剪切图片的页面-->
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <!--群视频准备页-->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.prevideocall.PreVideoCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <!--群视频界面-->

        <!--视频/语音界面-->

        <!--层级管理界面-->
        <!--ANYRTC直播部分-->
        <!--开始直播界面-->
        <activity
            android:name="com.htmessage.fanxinht.anyrtc.activity.AnyLiveStartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!--直播界面-->
        <activity
            android:name="com.htmessage.fanxinht.anyrtc.activity.AnyHosterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateHidden" />
        <!--观看直播界面-->
        <activity
            android:name="com.htmessage.fanxinht.anyrtc.activity.AnyLiveWatchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateHidden" />
        <!--游客观看直播界面-->
        <activity
            android:name="com.htmessage.fanxinht.anyrtc.activity.AnyGuestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateHidden" />
        <!--密码修改-->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.main.password.PasswordResetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />

        <!--视频会议界面-->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.call.MeetingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.call.VoiceOutgoingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.call.VoiceIncomingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.call.VideoOutgoingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.call.VideoIncomingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.call.GroupRtcActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!--最近上线的人-->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.main.find.recentlypeople.PeopleRecentlyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--地区页面-->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.main.region.RegionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--会员申请-->
        <!--文件选择-->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.file.browser.FileBrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <!--转发个人-->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.forward.ForwardSingleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--转发群组-->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.chat.forward.ForwardGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--视频录制界面-->
        <activity android:name="mabeijianxi.camera.MediaRecorderActivity" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105945786" />
            </intent-filter>
        </activity>
        <!--图片选择-->
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <!--图片预览-->


        <activity android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 关于新浪微博登录 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <!--关于微信登录反馈-->
        <activity
            android:name="com.htmessage.fanxinht.acitivity.login.thirdLogin.wxapi.WXEntryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <service
            android:name="com.htmessage.sdk.service.AwakeService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":push">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name="com.htmessage.sdk.service.KeepAliveService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":push">

        </service>


        <service
            android:name="com.htmessage.sdk.service.MessageService"
            android:exported="true" />
        <service
            android:name="com.htmessage.sdk.service.RemoteService"
            android:exported="true"
            android:process=":push" />


        <receiver android:name="com.htmessage.sdk.receiver.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.htmessage.sdk.receiver.SystemReceiver"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
