<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jrmf360.ewalletlib">

    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 要检查用户权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <activity
            android:name=".ui.AccountInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.TradeHistoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.SecureSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.SetPayPwdActivity"/>
        <activity
            android:name=".ui.PhoneVerificationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.SupportBankCardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.BankSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.AddAccountActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.RechargeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.GetDepositActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.PwdCheckActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.TradeDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".ui.MyeWalletActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.WithdrawSuccessActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>